[Unit]
Description=MySQL Server Exporter
After=network.target
[Service]
User={{ mysqld_exporter_user }}
Group={{ mysqld_exporter_group }}
Type=simple
ExecStart=/opt/mysqld_exporter-{{ mysqld_exporter_version }}.linux-amd64/mysqld_exporter --config.my-cnf=/etc/mysqld_exporter/.my.cnf --web.listen-address=:9104
Restart=always
[Install]
WantedBy=multi-user.target